## 빅데이터 실습

### COVID19, 코로나 바이러스의 영향으로 중국인 관광객이 얼마나 줄었을까?

#### 데이터 수집
- 한국관광공사, [한국관광 데이터랩](https://datalab.visitkorea.or.kr/datalab/portal/main/getMainForm.do) 데이터 
- 수집은 패스, 실습자료로 대체

#### 데이터 로드 및 전처리
- 분석전에 제일 중요한 단계. 데이터 분석의 8할은 데이터 전처리다.
- Data Preprocessing : 분석에 적합하도록 원하는(쉬운) 형태로 데이터를 가공과정
    - 결측치(None, Null, Nan) 처리, 이상치 처리, 변수 정규화, 파생변수 생성

##### 엑셀파일 로드

In [1]:
# 판다스 사용등록
import pandas as pd

In [2]:
## 1. 엑셀파일 경로지정. 읽어오기
kto_201901 = pd.read_excel('./data/kto_201901.xlsx', header=1, usecols='A:G', skipfooter=4)
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  765082  10837  1423  14087  125521  916950
1        일본  198805   2233   127    785    4576  206526
2        대만   86393     74    22    180    1285   87954
3        홍콩   34653     59     2     90    1092   35896
4       마카오    2506      2     0     17      45    2570
..      ...     ...    ...   ...    ...     ...     ...
62  아프리카 기타     768    718    90    206     908    2690
63     기타대륙      33      4     0      1      16      54
64     국적미상      33      4     0      1      16      54
65     교포소계       0      0     0      0   15526   15526
66       교포       0      0     0      0   15526   15526

[67 rows x 7 columns]

In [3]:
kto_201901.head()

     국적      관광     상용    공용  유학/연수      기타       계
0  아시아주  765082  10837  1423  14087  125521  916950
1    일본  198805   2233   127    785    4576  206526
2    대만   86393     74    22    180    1285   87954
3    홍콩   34653     59     2     90    1092   35896
4   마카오    2506      2     0     17      45    2570

In [4]:
kto_201901.tail()

         국적   관광   상용  공용  유학/연수     기타      계
62  아프리카 기타  768  718  90    206    908   2690
63     기타대륙   33    4   0      1     16     54
64     국적미상   33    4   0      1     16     54
65     교포소계    0    0   0      0  15526  15526
66       교포    0    0   0      0  15526  15526

##### 데이터 탐색(전처리를 위한)

In [5]:
# DF 각 정보개요
kto_201901.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적      67 non-null     object
 1   관광      67 non-null     int64
 2   상용      67 non-null     int64
 3   공용      67 non-null     int64
 4   유학/연수   67 non-null     int64
 5   기타      67 non-null     int64
 6   계       67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

In [6]:
# DF의 각 통계치
kto_201901.describe()

,관광,상용,공용,유학/연수,기타,계
count,67.00000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,26396.80597,408.208955,132.507463,477.462687,5564.208955,32979.194030
std,102954.04969,1416.040302,474.406339,2009.484800,17209.438418,122821.369969
min,0.00000,0.000000,0.000000,0.000000,16.000000,54.000000
25%,505.00000,14.500000,2.500000,17.500000,260.000000,927.000000
50%,1304.00000,45.000000,14.000000,43.000000,912.000000,2695.000000
75%,8365.00000,176.500000,38.000000,182.000000,2824.500000,14905.500000
max,765082.00000,10837.000000,2657.000000,14087.000000,125521.000000,916950.000000

In [7]:
# 한번도 한국에 방문한적이 없는 대륙, 나라(목적별)
# 문자열 여러줄, 논리연산 여러줄 작성 시는 \ 붙여줌
condition = (kto_201901['관광'] == 0) | (kto_201901['상용'] == 0) | \
            (kto_201901['공용'] == 0)  | (kto_201901['유학/연수'] == 0)

In [8]:
## cmap 판다스 DF 칼라맵
'''
'Accent', 'Accent_r', 'Blues', 'Blues_r', 
'BrBG', 'BrBG_r', 'BuGn', 'BuGn_r', 'BuPu', 'BuPu_r', 
'CMRmap', 'CMRmap_r', 'Dark2', 'Dark2_r', 'GnBu', 'GnBu_r', 
'Grays', 'Greens', 'Greens_r', 'Greys', 'Greys_r', 'OrRd', 'OrRd_r', 
'Oranges', 'Oranges_r', 'PRGn', 'PRGn_r', 'Paired', 'Paired_r', 
'Pastel1', 'Pastel1_r', 'Pastel2', 'Pastel2_r', 
'PiYG', 'PiYG_r', 'PuBu', 'PuBuGn', 'PuBuGn_r', 'PuBu_r', 
'PuOr', 'PuOr_r', 'PuRd', 'PuRd_r', 'Purples', 'Purples_r', 
'RdBu', 'RdBu_r', 'RdGy', 'RdGy_r', 'RdPu', 'RdPu_r', 
'RdYlBu', 'RdYlBu_r', 'RdYlGn', 'RdYlGn_r', 
'Reds', 'Reds_r', 'Set1', 'Set1_r', 'Set2', 'Set2_r', 'Set3', 'Set3_r', 
'Spectral', 'Spectral_r', 'Wistia', 'Wistia_r', 
'YlGn', 'YlGnBu', 'YlGnBu_r', 'YlGn_r', 'YlOrBr', 'YlOrBr_r', 'YlOrRd', 'YlOrRd_r', 
'afmhot', 'afmhot_r', 'autumn', 'autumn_r', 'binary', 'binary_r', 
'bone', 'bone_r', 'brg', 'brg_r', 'bwr', 'bwr_r', 'cividis', 'cividis_r', 
'cool', 'cool_r', 'coolwarm', 'coolwarm_r', 'copper', 'copper_r', 'cubehelix', 
'cubehelix_r', 'flag', 'flag_r', 'gist_earth', 'gist_earth_r', 
'gist_gray', 'gist_gray_r', 'gist_grey', 'gist_heat', 'gist_heat_r', 'gist_ncar',
'gist_ncar_r', 'gist_rainbow', 'gist_rainbow_r', 'gist_stern', 'gist_stern_r', 
'gist_yarg', 'gist_yarg_r', 'gist_yerg', 'gnuplot', 'gnuplot2', 'gnuplot2_r',
'gnuplot_r', 'gray', 'gray_r', 'grey', 'hot', 'hot_r', 'hsv', 'hsv_r', 
'inferno', 'inferno_r', 'jet', 'jet_r', 'magma', 'magma_r', 
'nipy_spectral', 'nipy_spectral_r', 'ocean', 'ocean_r', 
'pink', 'pink_r', 'plasma', 'plasma_r', 'prism', 'prism_r', 
'rainbow', 'rainbow_r', 'seismic', 'seismic_r', 'spring', 'spring_r', 
'summer', 'summer_r', 'tab10', 'tab10_r', 'tab20', 'tab20_r', 'tab20b', 'tab20b_r', 'tab20c', 'tab20c_r', 
'terrain', 'terrain_r', 'turbo', 'turbo_r', 
'twilight', 'twilight_r', 'twilight_shifted', 'twilight_shifted_r', 'viridis', 'viridis_r', 'winter', 'winter_r'
'''
kto_201901[condition]
kto_201901.style.background_gradient(axis=None, vmin=0, vmax=200_000, cmap='YlGnBu')

In [9]:
## 2. 기준년월 컬럼 추가
kto_201901['기준년월'] = '2019-01'
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계     기준년월
0      아시아주  765082  10837  1423  14087  125521  916950  2019-01
1        일본  198805   2233   127    785    4576  206526  2019-01
2        대만   86393     74    22    180    1285   87954  2019-01
3        홍콩   34653     59     2     90    1092   35896  2019-01
4       마카오    2506      2     0     17      45    2570  2019-01
..      ...     ...    ...   ...    ...     ...     ...      ...
62  아프리카 기타     768    718    90    206     908    2690  2019-01
63     기타대륙      33      4     0      1      16      54  2019-01
64     국적미상      33      4     0      1      16      54  2019-01
65     교포소계       0      0     0      0   15526   15526  2019-01
66       교포       0      0     0      0   15526   15526  2019-01

[67 rows x 8 columns]

In [10]:
## 3. 국적데이터만 추출
kto_201901['국적'].unique()

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

In [11]:
## 8개 박에 안되는 데이터를 뽑아낼려고 코딩하는 것은 멍청한 짓(!)
for item in kto_201901['국적']:
    if item.strip()[-1] == '주':
        print(item)

아시아주
미주
구주
대양주
아프리카주

In [12]:
## 대륙 리스트, 총 7개
continent_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']
continent_list

['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']

In [13]:
## 대륙을 뺀 국적리스트 일단 보류
kto_201901['국적']

0        아시아주
1          일본
2          대만
3          홍콩
4         마카오
       ...
62    아프리카 기타
63       기타대륙
64       국적미상
65       교포소계
66         교포
Name: 국적, Length: 67, dtype: object

In [14]:
kto_201901.국적

0        아시아주
1          일본
2          대만
3          홍콩
4         마카오
       ...
62    아프리카 기타
63       기타대륙
64       국적미상
65       교포소계
66         교포
Name: 국적, Length: 67, dtype: object

In [15]:
## 4. 대륙외 국적들만 뽑아내기
condition = (kto_201901['국적'].isin(continent_list) == False)
kto201901_countries = kto_201901[condition]
kto201901_countries['국적'].unique()

array(['일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아', '싱가포르',
       '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골', '중국',
       '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미국',
       '캐나다', '멕시코', '브라질', '미주 기타', '영국', '독일', '프랑스', '네덜란드', '스웨덴',
       '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인', '그리스', '포르투갈',
       '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아', '불가리아', '폴란드',
       '구주 기타', '오스트레일리아', '뉴질랜드', '대양주 기타', '남아프리카공화국', '아프리카 기타',
       '국적미상', '교포'], dtype=object)

In [16]:
# 중간에 비는 인덱스없이 다시 지정, inplace=True 기존 데이터를 대체해줌 
kto201901_countries.reset_index(drop=True, inplace=True)

In [17]:
kto201901_countries

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
0         일본  198805  2233   127    785   4576  206526  2019-01
1         대만   86393    74    22    180   1285   87954  2019-01
2         홍콩   34653    59     2     90   1092   35896  2019-01
3        마카오    2506     2     0     17     45    2570  2019-01
4         태국   34004    37   199     96   6998   41334  2019-01
5      말레이시아   19043    95     7     99   2821   22065  2019-01
6        필리핀   14279   211   161    184  15638   30473  2019-01
7      인도네시아   14183   136    38    187   4298   18842  2019-01
8       싱가포르    8372    94     8     48   1333    9855  2019-01
9        미얀마    1304    10    31     67   3877    5289  2019-01
10       베트남   10739   763   110   1667   6904   20183  2019-01
11        인도    2318  2656    46    177   3474    8671  2019-01
12      스리랑카     157    54     5     28   1043    1287  2019-01
13      파키스탄     238   178    10    193    413    1032  2019-01
14     방글라데시     149   126    27     97    848    1247  2019-01
15      캄보디아     635    39    55     51   1915    2695  2019-01
16        몽골    8358    77   304    484    562    9785  2019-01
17        중국  320113  2993   138   8793  60777  392814  2019-01
18        이란      60    45    10     23     46     184  2019-01
19      이스라엘     727    12     0      9     57     805  2019-01
20        터키     792    13    32     36    912    1785  2019-01
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01
23       GCC    1550    37    14     72    103    1776  2019-01
24    아시아 기타    1561   308    70    205   2410    4554  2019-01
25        미국   42989   418  2578    229  16523   62737  2019-01
26       캐나다    8034    57    30     43   4296   12460  2019-01
27       멕시코    1282    11     7     38    515    1853  2019-01
28       브라질    1136    16     9     41    403    1605  2019-01
29     미주 기타    1541    24    33    128    540    2266  2019-01
30        영국    7982   175    17     41   1933   10148  2019-01
31        독일    4925   278    19    177   1451    6850  2019-01
32       프랑스    3773   297    48    288   1168    5574  2019-01
33      네덜란드    1592    47    16     77    537    2269  2019-01
34       스웨덴     844    29     6     18     85     982  2019-01
35       스위스     613    18     0     19     97     747  2019-01
36      이탈리아    1968    83    17     40    623    2731  2019-01
37       덴마크     520    21     6     16    188     751  2019-01
38      노르웨이     552    66     4     28    151     801  2019-01
39       벨기에     490    24     4     22    169     709  2019-01
40     오스트리아     544     8     2     13    209     776  2019-01
41       스페인    1010    36    15     52    255    1368  2019-01
42       그리스     481    17     4      0    273     775  2019-01
43      포르투갈     416    14     0     13    121     564  2019-01
44       핀란드     412    23     1     18    405     859  2019-01
45      아일랜드     392    15     1      2    185     595  2019-01
46     우크라이나     593    58     3     28   1580    2262  2019-01
47       러시아   17260   181    37    191   7525   25194  2019-01
48     크로아티아     226    12     0      3    250     491  2019-01
49      루마니아     412     8     4      3    445     872  2019-01
50      불가리아     154     1     1     10    265     431  2019-01
51       폴란드     713    10     0     27    574    1324  2019-01
52     구주 기타    1809    44    25     91    996    2965  2019-01
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01
54      뉴질랜드    2029    20    17      5    654    2725  2019-01
55    대양주 기타     555     3     4      0     52     614  2019-01
56  남아프리카공화국     368     9     1      6    616    1000  2019-01
57   아프리카 기타     768   718    90    206    908    2690  2019-01
58      국적미상      33     4     0      1     16      54  2019-01
59        교포       0     0     0      0  15526   15526  2019-01

In [18]:
## 대륙컬럼을 추가 사전작업
for i in continent_list:
    print(i)

아시아주
미주
구주
대양주
아프리카주
기타대륙
교포소계

In [19]:
# 대륙 리스트 재구성
continents = ['아시아']*25 + ['아메리카']*5 + ['유럽']*23 + ['오세아니아']*3 + ['아프리카']*2 + ['기타대륙'] + ['교포']

In [20]:
## SettingWithCopyWarning 해제하는 법
pd.set_option('mode.chained_assignment', None)

In [21]:
## 5. 국적간 데이터 DF 마지막에 대륙컬럼 추가
kto201901_countries['대륙'] = continents
kto201901_countries

          국적      관광    상용    공용  유학/연수     기타       계     기준년월     대륙
0         일본  198805  2233   127    785   4576  206526  2019-01    아시아
1         대만   86393    74    22    180   1285   87954  2019-01    아시아
2         홍콩   34653    59     2     90   1092   35896  2019-01    아시아
3        마카오    2506     2     0     17     45    2570  2019-01    아시아
4         태국   34004    37   199     96   6998   41334  2019-01    아시아
5      말레이시아   19043    95     7     99   2821   22065  2019-01    아시아
6        필리핀   14279   211   161    184  15638   30473  2019-01    아시아
7      인도네시아   14183   136    38    187   4298   18842  2019-01    아시아
8       싱가포르    8372    94     8     48   1333    9855  2019-01    아시아
9        미얀마    1304    10    31     67   3877    5289  2019-01    아시아
10       베트남   10739   763   110   1667   6904   20183  2019-01    아시아
11        인도    2318  2656    46    177   3474    8671  2019-01    아시아
12      스리랑카     157    54     5     28   1043    1287  2019-01    아시아
13      파키스탄     238   178    10    193    413    1032  2019-01    아시아
14     방글라데시     149   126    27     97    848    1247  2019-01    아시아
15      캄보디아     635    39    55     51   1915    2695  2019-01    아시아
16        몽골    8358    77   304    484    562    9785  2019-01    아시아
17        중국  320113  2993   138   8793  60777  392814  2019-01    아시아
18        이란      60    45    10     23     46     184  2019-01    아시아
19      이스라엘     727    12     0      9     57     805  2019-01    아시아
20        터키     792    13    32     36    912    1785  2019-01    아시아
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01    아시아
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01    아시아
23       GCC    1550    37    14     72    103    1776  2019-01    아시아
24    아시아 기타    1561   308    70    205   2410    4554  2019-01    아시아
25        미국   42989   418  2578    229  16523   62737  2019-01   아메리카
26       캐나다    8034    57    30     43   4296   12460  2019-01   아메리카
27       멕시코    1282    11     7     38    515    1853  2019-01   아메리카
28       브라질    1136    16     9     41    403    1605  2019-01   아메리카
29     미주 기타    1541    24    33    128    540    2266  2019-01   아메리카
30        영국    7982   175    17     41   1933   10148  2019-01     유럽
31        독일    4925   278    19    177   1451    6850  2019-01     유럽
32       프랑스    3773   297    48    288   1168    5574  2019-01     유럽
33      네덜란드    1592    47    16     77    537    2269  2019-01     유럽
34       스웨덴     844    29     6     18     85     982  2019-01     유럽
35       스위스     613    18     0     19     97     747  2019-01     유럽
36      이탈리아    1968    83    17     40    623    2731  2019-01     유럽
37       덴마크     520    21     6     16    188     751  2019-01     유럽
38      노르웨이     552    66     4     28    151     801  2019-01     유럽
39       벨기에     490    24     4     22    169     709  2019-01     유럽
40     오스트리아     544     8     2     13    209     776  2019-01     유럽
41       스페인    1010    36    15     52    255    1368  2019-01     유럽
42       그리스     481    17     4      0    273     775  2019-01     유럽
43      포르투갈     416    14     0     13    121     564  2019-01     유럽
44       핀란드     412    23     1     18    405     859  2019-01     유럽
45      아일랜드     392    15     1      2    185     595  2019-01     유럽
46     우크라이나     593    58     3     28   1580    2262  2019-01     유럽
47       러시아   17260   181    37    191   7525   25194  2019-01     유럽
48     크로아티아     226    12     0      3    250     491  2019-01     유럽
49      루마니아     412     8     4      3    445     872  2019-01     유럽
50      불가리아     154     1     1     10    265     431  2019-01     유럽
51       폴란드     713    10     0     27    574    1324  2019-01     유럽
52     구주 기타    1809    44    25     91    996    2965  2019-01     유럽
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01  오세아니아
54      뉴질랜드    2029    20    17      5    654    2725  2019-01  오세아니아
55    대양주 기타     555     3     4      0     52     614  2019-01  오세아니아
56  남아프리카공화국     368     9     1      6    616    1000  2019-01   아프리카
57   아프리카 기타     768   718    90    206    908    2690  2019-01   아프리카
58      국적미상      33     4     0      1     16      54  2019-01   기타대륙
59        교포       0     0     0      0  15526   15526  2019-01     교포

In [22]:
## 6. 국적별 관광객 비율 컬럼 추가
kto201901_countries['관광객비율(%)'] = round(kto201901_countries['관광'] / kto201901_countries['계'] * 100, 1)

In [23]:
kto201901_countries.sort_values(by='관광', ascending=False)

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%)
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.9
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.3
53,오스트레일리아,12795,93,17,34,1346,14285,2019-01,오세아니아,89.6
10,베트남,10739,763,110,1667,6904,20183,2019-01,아시아,53.2
8,싱가포르,8372,94,8,48,1333,9855,2019-01,아시아,85.0
16,몽골,8358,77,304,484,562,9785,2019-01,아시아,85.4
26,캐나다,8034,57,30,43,4296,12460,2019-01,아메리카,64.5
30,영국,7982,175,17,41,1933,10148,2019-01,유럽,78.7
31,독일,4925,278,19,177,1451,6850,2019-01,유럽,71.9
32,프랑스,3773,297,48,288,1168,5574,2019-01,유럽,67.7
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.5
11,인도,2318,2656,46,177,3474,8671,2019-01,아시아,26.7
22,카자흐스탄,2185,24,7,92,1266,3574,2019-01,아시아,61.1
54,뉴질랜드,2029,20,17,5,654,2725,2019-01,오세아니아,74.5
36,이탈리아,1968,83,17,40,623,2731,2019-01,유럽,72.1
21,우즈베키스탄,1958,561,0,407,2828,5754,2019-01,아시아,34.0
52,구주 기타,1809,44,25,91,996,2965,2019-01,유럽,61.0
33,네덜란드,1592,47,16,77,537,2269,2019-01,유럽,70.2
24,아시아 기타,1561,308,70,205,2410,4554,2019-01,아시아,34.3
23,GCC,1550,37,14,72,103,1776,2019-01,아시아,87.3
29,미주 기타,1541,24,33,128,540,2266,2019-01,아메리카,68.0
9,미얀마,1304,10,31,67,3877,5289,2019-01,아시아,24.7
27,멕시코,1282,11,7,38,515,1853,2019-01,아메리카,69.2
28,브라질,1136,16,9,41,403,1605,2019-01,아메리카,70.8
41,스페인,1010,36,15,52,255,1368,2019-01,유럽,73.8
34,스웨덴,844,29,6,18,85,982,2019-01,유럽,85.9
20,터키,792,13,32,36,912,1785,2019-01,아시아,44.4
57,아프리카 기타,768,718,90,206,908,2690,2019-01,아프리카,28.6
19,이스라엘,727,12,0,9,57,805,2019-01,아시아,90.3
51,폴란드,713,10,0,27,574,1324,2019-01,유럽,53.9
15,캄보디아,635,39,55,51,1915,2695,2019-01,아시아,23.6
35,스위스,613,18,0,19,97,747,2019-01,유럽,82.1
46,우크라이나,593,58,3,28,1580,2262,2019-01,유럽,26.2
55,대양주 기타,555,3,4,0,52,614,2019-01,오세아니아,90.4
38,노르웨이,552,66,4,28,151,801,2019-01,유럽,68.9
40,오스트리아,544,8,2,13,209,776,2019-01,유럽,70.1
37,덴마크,520,21,6,16,188,751,2019-01,유럽,69.2
39,벨기에,490,24,4,22,169,709,2019-01,유럽,69.1
42,그리스,481,17,4,0,273,775,2019-01,유럽,62.1
43,포르투갈,416,14,0,13,121,564,2019-01,유럽,73.8
49,루마니아,412,8,4,3,445,872,2019-01,유럽,47.2
44,핀란드,412,23,1,18,405,859,2019-01,유럽,48.0
45,아일랜드,392,15,1,2,185,595,2019-01,유럽,65.9
56,남아프리카공화국,368,9,1,6,616,1000,2019-01,아프리카,36.8
13,파키스탄,238,178,10,193,413,1032,2019-01,아시아,23.1
48,크로아티아,226,12,0,3,250,491,2019-01,유럽,46.0
12,스리랑카,157,54,5,28,1043,1287,2019-01,아시아,12.2
50,불가리아,154,1,1,10,265,431,2019-01,유럽,35.7
14,방글라데시,149,126,27,97,848,1247,2019-01,아시아,11.9
18,이란,60,45,10,23,46,184,2019-01,아시아,32.6
58,국적미상,33,4,0,1,16,54,2019-01,기타대륙,61.1
59,교포,0,0,0,0,15526,15526,2019-01,교포,0.0

In [24]:
## 관광객 비율이 높은 나라 Top5
kto201901_countries.sort_values(by = '관광객비율(%)', ascending=False).head()

        국적      관광    상용   공용  유학/연수    기타       계     기준년월     대륙  관광객비율(%)
1       대만   86393    74   22    180  1285   87954  2019-01    아시아      98.2
3      마카오    2506     2    0     17    45    2570  2019-01    아시아      97.5
2       홍콩   34653    59    2     90  1092   35896  2019-01    아시아      96.5
0       일본  198805  2233  127    785  4576  206526  2019-01    아시아      96.3
55  대양주 기타     555     3    4      0    52     614  2019-01  오세아니아      90.4

In [25]:
## 관광객 비율이 낮은 나라 Top5
kto201901_countries.sort_values(by = '관광객비율(%)', ascending=True).head(6)

       국적    관광   상용  공용  유학/연수     기타      계     기준년월   대륙  관광객비율(%)
59     교포     0    0   0      0  15526  15526  2019-01   교포       0.0
14  방글라데시   149  126  27     97    848   1247  2019-01  아시아      11.9
12   스리랑카   157   54   5     28   1043   1287  2019-01  아시아      12.2
13   파키스탄   238  178  10    193    413   1032  2019-01  아시아      23.1
15   캄보디아   635   39  55     51   1915   2695  2019-01  아시아      23.6
9     미얀마  1304   10  31     67   3877   5289  2019-01  아시아      24.7

In [26]:
## 관광객 비율 평균 pivot_table
kto201901_countries.pivot_table(values='관광객비율(%)', index='대륙', aggfunc='mean')

        관광객비율(%)
대륙
교포      0.000000
기타대륙   61.100000
아메리카   68.200000
아시아    59.624000
아프리카   32.700000
오세아니아  84.833333
유럽     63.826087

In [27]:
## 중국만 필터링
condition = kto201901_countries['국적'] == '중국'
kto201901_countries[condition]

    국적      관광    상용   공용  유학/연수     기타       계     기준년월   대륙  관광객비율(%)
17  중국  320113  2993  138   8793  60777  392814  2019-01  아시아      81.5

In [28]:
## 전체 외국인 관광객 수
totalSum = sum(kto201901_countries['관광'])

In [29]:
## 7. 전체비율(%) 컬럼 추가
kto201901_countries['전체비율(%)'] = round(kto201901_countries['관광'] / totalSum * 100, 1)

In [30]:
# 관광객수가 가장 많은 국적 Top10
kto201901_countries.sort_values(by='전체비율(%)', ascending=False).head(10)

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
17,중국,320113,2993,138,8793,60777,392814,2019-01,아시아,81.5,36.2
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.3,22.5
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.2,9.8
25,미국,42989,418,2578,229,16523,62737,2019-01,아메리카,68.5,4.9
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.5,3.9
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.3,3.8
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.3,2.2
47,러시아,17260,181,37,191,7525,25194,2019-01,유럽,68.5,2.0
6,필리핀,14279,211,161,184,15638,30473,2019-01,아시아,46.9,1.6
7,인도네시아,14183,136,38,187,4298,18842,2019-01,아시아,75.3,1.6

In [31]:
## 125개 데이터를 전부 확인불가
## 샘플링 조회
kto_201509 = pd.read_excel('./data/kto_201509.xlsx', header=1, usecols='A:G', skipfooter=4)
kto_201509.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적      67 non-null     object
 1   관광      67 non-null     int64
 2   상용      67 non-null     int64
 3   공용      67 non-null     int64
 4   유학/연수   67 non-null     int64
 5   기타      67 non-null     int64
 6   계       67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

##### 종합
- 위에서 하나의 엑셀로 처리한 방식을 반복문을 통해서 전체 125개 데이터들 통합하는 작업
- 1~7까지의 작업을 하나의 함수로 생서

In [32]:
## 년월별 데이터 전처리함수 
def createKtoData(yyyy, mm):
    ## 1. 엑셀파일 지정
    filePath = f'./data/kto_{yyyy}{mm:02d}.xlsx' # mm이 1~9 까지 들어오면 01~09로 변경해줘야함
    ## 1. 엑셀파일 불러오기
    df = pd.read_excel(filePath, header=1, usecols='A:G', skipfooter=4)
    ## 2. 기준년월 컬럼 추가
    df['기준년월'] = f'{yyyy}-{mm:02d}' # mm이 1~9 까지 들어오면 01~09로 변경해줘야함
    ## 3. 국적컬럼 대륙제거 국가만 추출
    ignore_list = ['아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계']
    # 대륙제거
    condition = (df['국적'].isin(ignore_list) == False)
    df_countries = df[condition].reset_index(drop=True)
    ## 5. 대륙컬럼 추가
    continents = ['아시아']*25 + ['아메리카']*5 + ['유럽']*23 + ['오세아니아']*3 + ['아프리카']*2 + ['기타대륙'] + ['교포']
    df_countries['대륙'] = continents
    ## 6. 국적별 관광객비율 컬럼추가
    df_countries['관광객비율(%)'] = round(df_countries['관광'] / df_countries['계'] * 100, 1)
    ## 7. 전체비율 컬럼추가
    totalSum = sum(df_countries['관광']) 
    df_countries['전체비율(%)'] = round(df_countries['관광'] / totalSum * 100, 1)

    ## 8. 결과리턴
    return(df_countries)

In [33]:
## 테스트
df_test = createKtoData(2019, 9)
df_test

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체비율(%)
0,일본,242475,2362,211,1137,4934,251119,2019-09,아시아,96.6,20.6
1,대만,100888,112,14,300,1444,102758,2019-09,아시아,98.2,8.6
2,홍콩,44708,49,7,256,891,45911,2019-09,아시아,97.4,3.8
3,마카오,2687,2,0,24,14,2727,2019-09,아시아,98.5,0.2
4,태국,28877,54,411,133,6577,36052,2019-09,아시아,80.1,2.5
5,말레이시아,25123,166,5,251,2475,28020,2019-09,아시아,89.7,2.1
6,필리핀,18539,203,196,121,17193,36252,2019-09,아시아,51.1,1.6
7,인도네시아,11858,149,317,279,6706,19309,2019-09,아시아,61.4,1.0
8,싱가포르,16137,137,13,63,1395,17745,2019-09,아시아,90.9,1.4
9,미얀마,1832,19,255,93,4335,6534,2019-09,아시아,28.0,0.2
10,베트남,28210,1064,530,5577,8236,43617,2019-09,아시아,64.7,2.4
11,인도,4111,3152,146,186,5121,12716,2019-09,아시아,32.3,0.3
12,스리랑카,351,81,8,22,1641,2103,2019-09,아시아,16.7,0.0
13,파키스탄,323,310,29,321,476,1459,2019-09,아시아,22.1,0.0
14,방글라데시,302,167,102,185,1124,1880,2019-09,아시아,16.1,0.0
15,캄보디아,1794,49,170,32,1584,3629,2019-09,아시아,49.4,0.2
16,몽골,8120,122,315,1155,1188,10900,2019-09,아시아,74.5,0.7
17,중국,432018,3873,447,25545,79467,541350,2019-09,아시아,79.8,36.7
18,이란,281,63,8,42,52,446,2019-09,아시아,63.0,0.0
19,이스라엘,1779,11,1,3,43,1837,2019-09,아시아,96.8,0.2
20,터키,1561,21,61,37,1122,2802,2019-09,아시아,55.7,0.1
21,우즈베키스탄,3093,853,1,1484,3625,9056,2019-09,아시아,34.2,0.3
22,카자흐스탄,2956,17,2,179,1755,4909,2019-09,아시아,60.2,0.3
23,GCC,2187,30,6,135,104,2462,2019-09,아시아,88.8,0.2
24,아시아 기타,3328,567,315,299,2841,7350,2019-09,아시아,45.3,0.3
25,미국,70634,421,2736,186,16842,90819,2019-09,아메리카,77.8,6.0
26,캐나다,13449,50,39,31,4644,18213,2019-09,아메리카,73.8,1.1
27,멕시코,2506,3,12,27,490,3038,2019-09,아메리카,82.5,0.2
28,브라질,2029,23,17,36,393,2498,2019-09,아메리카,81.2,0.2
29,미주 기타,3756,18,73,77,664,4588,2019-09,아메리카,81.9,0.3
30,영국,11473,156,28,13,1655,13325,2019-09,유럽,86.1,1.0
31,독일,10802,218,21,89,1540,12670,2019-09,유럽,85.3,0.9
32,프랑스,8587,245,32,127,1251,10242,2019-09,유럽,83.8,0.7
33,네덜란드,2816,28,9,18,614,3485,2019-09,유럽,80.8,0.2
34,스웨덴,1784,26,5,66,129,2010,2019-09,유럽,88.8,0.2
35,스위스,1795,20,7,11,90,1923,2019-09,유럽,93.3,0.2
36,이탈리아,3550,81,17,26,839,4513,2019-09,유럽,78.7,0.3
37,덴마크,1101,12,11,8,112,1244,2019-09,유럽,88.5,0.1
38,노르웨이,962,30,2,20,40,1054,2019-09,유럽,91.3,0.1
39,벨기에,1300,15,9,20,198,1542,2019-09,유럽,84.3,0.1
40,오스트리아,1186,7,3,7,166,1369,2019-09,유럽,86.6,0.1
41,스페인,2764,27,14,30,299,3134,2019-09,유럽,88.2,0.2
42,그리스,717,29,1,2,274,1023,2019-09,유럽,70.1,0.1
43,포르투갈,840,11,0,5,144,1000,2019-09,유럽,84.0,0.1
44,핀란드,878,8,4,7,367,1264,2019-09,유럽,69.5,0.1
45,아일랜드,1007,5,4,3,157,1176,2019-09,유럽,85.6,0.1
46,우크라이나,715,80,5,26,1388,2214,2019-09,유럽,32.3,0.1
47,러시아,21349,175,36,155,8551,30266,2019-09,유럽,70.5,1.8
48,크로아티아,277,5,2,3,207,494,2019-09,유럽,56.1,0.0
49,루마니아,675,12,5,4,483,1179,2019-09,유럽,57.3,0.1
50,불가리아,370,3,19,5,236,633,2019-09,유럽,58.5,0.0
51,폴란드,1870,14,1,17,668,2570,2019-09,유럽,72.8,0.2
52,구주 기타,3042,48,56,46,1229,4421,2019-09,유럽,68.8,0.3
53,오스트레일리아,15818,83,51,10,1307,17269,2019-09,오세아니아,91.6,1.3
54,뉴질랜드,3393,26,9,1,606,4035,2019-09,오세아니아,84.1,0.3
55,대양주 기타,413,0,9,3,101,526,2019-09,오세아니아,78.5,0.0
56,남아프리카공화국,743,8,11,7,428,1197,2019-09,아프리카,62.1,0.1
57,아프리카 기타,2249,1145,85,297,1343,5119,2019-09,아프리카,43.9,0.2
58,국적미상,33,3,0,5,8,49,2019-09,기타대륙,67.3,0.0
59,교포,0,0,0,0,16619,16619,2019-09,교포,0.0,0.0

In [34]:
## 반복문으로 기준년월 출력
for yyyy in range(2010, 2021):
    for mm in range(1, 13):
        print(yyyy, mm)

2010 1
2010 2
2010 3
2010 4
2010 5
2010 6
2010 7
2010 8
2010 9
2010 10
2010 11
2010 12
2011 1
2011 2
2011 3
2011 4
2011 5
2011 6
2011 7
2011 8
2011 9
2011 10
2011 11
2011 12
2012 1
2012 2
2012 3
2012 4
2012 5
2012 6
2012 7
2012 8
2012 9
2012 10
2012 11
2012 12
2013 1
2013 2
2013 3
2013 4
2013 5
2013 6
2013 7
2013 8
2013 9
2013 10
2013 11
2013 12
2014 1
2014 2
2014 3
2014 4
2014 5
2014 6
2014 7
2014 8
2014 9
2014 10
2014 11
2014 12
2015 1
2015 2
2015 3
2015 4
2015 5
2015 6
2015 7
2015 8
2015 9
2015 10
2015 11
2015 12
2016 1
2016 2
2016 3
2016 4
2016 5
2016 6
2016 7
2016 8
2016 9
2016 10
2016 11
2016 12
2017 1
2017 2
2017 3
2017 4
2017 5
2017 6
2017 7
2017 8
2017 9
2017 10
2017 11
2017 12
2018 1
2018 2
2018 3
2018 4
2018 5
2018 6
2018 7
2018 8
2018 9
2018 10
2018 11
2018 12
2019 1
2019 2
2019 3
2019 4
2019 5
2019 6
2019 7
2019 8
2019 9
2019 10
2019 11
2019 12
2020 1
2020 2
2020 3
2020 4
2020 5
2020 6
2020 7
2020 8
2020 9
2020 10
2020 11
2020 12

##### tqdm 라이브러리
프로그레스바

In [35]:
from tqdm import tqdm
import time

ModuleNotFoundError: No module named 'tqdm'

In [ ]:
text = ''
strList = ['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']
for char in tqdm(strList):
    text = text + char
    time.sleep(0.5)

In [ ]:
## 빈 DF
df_total = pd.DataFrame()

In [ ]:
for yyyy in tqdm(range(2010, 2021)):
    for mm in range(1, 13):
        try:
            temp = createKtoData(yyyy, mm)
            df_total = pd.concat([df_total, temp], ignore_index=True)
        except:
            pass

In [ ]:
## 결과보기
df_total.info()

In [ ]:
## 파일 저장
df_total.to_excel('./data/kto_total.xlsx', index=False)

In [ ]:
## 저장한 테이터를 재로드
df_total = pd.read_excel('./data/kto_total.xlsx')

In [ ]:
## 중국국적 데이터만 추출
condition = df_total['국적'] == '중국'

In [ ]:
df_china = df_total[condition]

#### 데이터 시각화/분석
분석 먼저하고 시각화할 수도 있고, 시각화한 지표로 분석할 수도

In [ ]:
df_china.reset_index(inplace=True)

In [ ]:
df_china

##### Matplotlib 시각화
- 필요라이브러리 가져오기
- 한글 깨짐현상 해결

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# 한글 깨짐 문제 해결
from matplotlib import rcParams, font_manager, rc

font_path = 'C:/Windows/Fonts/NanumGothicCoding.ttf' # 나눔고딕코딩 사용, 나눔고딕에서 오류발생(!)
font = font_manager.FontProperties(fname=font_path).get_name() # 실제 설치된 폰트 이름조회
rc('font', family=font) # 한글깨짐현상 해결!!
rcParams['axes.unicode_minus'] = False # 한글 사용시 마이너스 표시 깨짐 해결!

In [ ]:
# 차트 스타일 지정
sns.set_style('darkgrid')

In [ ]:
plt.plot(df_china['기준년월'], df_china['관광'])
plt.show()

In [ ]:
# list comprehension
[f'{i}-01' for i in range(2010, 2021)]

In [ ]:
## 불필요한 경고메시지 제거
import warnings
warnings.filterwarnings('ignore')

In [ ]:
## 이쁘게 위의 데이터 출력차트 변경
## 차트 크기 조절
plt.figure(figsize=(18, 5)) # w:18, h:5
## 차트 그릴 내용, 범례에 표시할 label, 라인색, 라인스타일, 마커표시
plt.plot(df_china['기준년월'], df_china['관광'], label='중국관광객수', color='r', linestyle=':', marker='o')
## 타이틀, 라벨, 범례
plt.title('중국 국적 관광객 추이(2010-01 ~ 2020-05)')
plt.xlabel('기준년월')
plt.ylabel('관광객수')
plt.legend(loc='upper left')
# plt.xticks(rotation=90) # x축 라벨 90도 회전
## x축 라벨 
plt.xticks([f'{i}-01' for i in range(2010, 2021)], rotation=45)
## y축 라벨(1000단위 쉼표)
current_values = plt.gca().get_yticks()
plt.gca().set_yticklabels([f'{x:,.0f}' for x in current_values])
plt.show()

In [ ]:
## 판다스 DF 을 자동으로 차트로 만들어주는 것
df_china.plot()
plt.show()